<%= form_tag(players_path, method: :get) do |f| %>
  <div class="name">
    <%= label_tag 'player_name', 'Search By Player' %>
    <%= text_field_tag 'player_name' %>
  </div>

  <div class="actions">
    <%= submit_tag "Filter"%>
  </div>
<% end %>
