<%= form_tag(players_path, method: :get) do |f| %>
  <div class="name col-md-12">
    <%= text_field_tag 'player_name', nil, placeholder: 'Search by Player', class: "big-search col-xs-12" %>
  </div>
<% end %>
