<p id="notice"><%= notice %></p>

<%= render 'search' %>

<%= will_paginate %>

<% players = render(template: "/players/index.json.jbuilder") %>
<%= react_component('PlayersApp', props: { players: players }, prerender: true ) %>
