<p id="notice"><%= notice %></p>

<%= render 'search' %>
<div class="center">
  <%= will_paginate %>
</div>

<br>
<% players = render(template: "/players/index.json.jbuilder") %>
<%= react_component('PlayersApp', props: { players: players }, prerender: true ) %>
