// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hide-small {
  @media (max-width: 650px) {
    display: none;
  }
}

.big-search {
  border-radius: 40px;
  font-size: 28px;
  padding-left: 1em;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  margin-bottom: 15px;
}

.big-search:focus {
  border-radius: 40px;
}

.player-list {
  clear: both;
}

.center {
  text-align: center;
}

input[type="text"]{
  outline:none;
}

::-webkit-input-placeholder {
   color: #C4C4C4;
}

:-moz-placeholder { /* Firefox 18- */
   color: #C4C4C4;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #C4C4C4;
}

:-ms-input-placeholder {
   color: #C4C4C4;
}
